@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #2e4342;
    --primary-btn: #586968;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
h1 {
  font-size: 57px;
  font-weight: bold;
  line-height: 130%;
}
h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 130%;
}
h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 130%;
}
h4 {
  font-size: 32px;
  font-weight: bold;
  line-height: 130%;
}
h5 {
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 130%;
  }
  h2 {
    font-size: 40px;
    font-weight: bold;
    line-height: 130%;
  }
  h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 130%;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 20px;
  margin: auto;
  height: 200vh; /* To create scrollable content */
  background-color: #2f3e46;
  color: white;
}

.text,
.image {
  width: 45%;
}

.textContent,
.imageContent {
  display: none;
  transition: opacity 1s;
}

.textContent.active,
.imageContent.active {
  display: block;
  opacity: 1;
}

.custom-width {
  width: calc(100% + 32px);
}

@media (min-width: 768px) {
  .custom-width-md {
    width: calc(100% + 48px);
  }
}

html,
body {
  margin: 0;
}

/* styles/ScrollSection.module.css */
.container {
  display: flex;
  position: relative;
  width: 100%;
}

.imageContainer {
  position: sticky;
  top: 0;
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

.text {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.text.active {
  opacity: 1;
}








.threshold {
  position: sticky;
  width: 100%;
  height: 1px;
  background-color: red;
  z-index: 9999999999;
}
.threshold__top {
  top: 50%;
}

.locker {
  outline: 1px solid #cdcdcd;
  outline-offset: -1px;
  position: relative;
  display: grid;
  grid-template-columns: [full-start] minmax(4.2rem, 1fr) [center-start] repeat(12, [col-start] minmax(min-content, 8rem) [col-end]) [center-end] minmax(4.2rem, 1fr) [full-end];
}
.locker__image {
  position: relative;
  grid-column: col-start 2/col-end 6;
}
.locker__image .imgqqqq {
  width: auto;
  height: 70vh;
  position: absolute;
  transition: all 1s ease;
}
.locker__container {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.locker__content {
  grid-column: col-start 8/center-end;
}
.locker__section {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;
}
.locker__section:first-child {
  border: none;
}
